@font-face {
    font-family: 'Flood Std';
    src: url('../Fonts/flood-std-regular_nQ34u/Flood Std Regular/Flood\ Std\ Regular.otf') format('opentype');
}

body {
    color: #354463;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}

.action-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #C1F7D5;
    justify-content: space-evenly;
    padding: 0 10% 5% 10%;
}

.take-action-btn {
    position: relative;
    height: 40px;
    font-size: 16px;
    top: -20px
}

.stop-container {
    background-image: url("../assets/assets/home/annie-spratt-135307-unsplash.png");
}

.stop-container .title {
    font-family: 'Flood Std';
    font-size: 44px;
}

.footer h1 {
    font-family: 'Flood Std', Arial, Helvetica, sans-serif;
    font-size: 44px;
}

.event-container h1 {
    font-family: 'Flood Std', Arial, Helvetica, sans-serif;
    font-size: 44px;
}

.issue-heading h2 {
    font-family: 'Flood Std';
    color: white;
    font-size: 50px;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 480px) {
    .header {
        display: grid;
        grid-template-areas: "title page"
            "btn  btn";
        align-items: center;
        margin-bottom: 4%;
        padding: 5% 10% 0 10%;
    }

    .title {
        grid-area: title;
        font-size: 22px;
    }

    .pages {
        grid-area: page;
        font-weight: lighter;
        font-size: 14px;
        padding-left: 30%;
    }

    .btn {
        grid-area: btn;
        height: 40px;
    }

    .stop-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 44px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80%;
        min-height: 50vh;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 12%;
    }

    .stop-container>.title {
        width: 181px;
        height: 136px;
        color: #FFFFFF;
        font-size: 55px;
        padding-bottom: 150px;
        margin-bottom: 100px;
    }

    .stop-content-container {
        position: relative;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        background-color: #FFFFFF;
        padding-bottom: 4%;
    }

    .stop-btn {
        position: relative;
        top: -20px;
        width: 160px;
        height: 40px;
        font-size: 14px;
    }

    .stop-content-container p {
        font-size: 28px;
        font-weight: bold;
        padding: 10px;
    }

    .underline {
        text-decoration: underline;
        font-size: 15px;
        padding: 10px;
    }

    .action-container p {
        font-size: 16px;
        font-weight: lighter;
    }

    .action-container .actions {
        font-weight: bold;
        width: 40%;
    }

    .mission-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #354463;
        padding: 10%;
        justify-content: center;
    }

    .mission-btn {
        font-size: 14px;
    }

    .mission-do-container {
        color: white;
        text-align: center;
        margin-top: 5%;
        font-size: 22px;
        font-weight: bold;
        font-family: Helvetica;
        padding-bottom: 30px;
    }

    .mission-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5% 5% 5%;
        background-color: white;
        margin: 12% 0 15% 0;
    }

    .mission-img {
        position: relative;
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .mission-img img {
        position: relative;
        top: -30px;
        width: 100%;
        height: auto;
    }

    .mission-list h3 {
        text-align: center;
    }

    .mission-list p {
        text-align: center;
        font-family: Helvetica;
        color: #354463;
        font-size: 16px;
    }

    .issue-container {
        display: flex;
        flex-direction: column;
        background-image: url("../assets/assets/home/did-you-know-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10%;
    }

    .issue-heading {
        font-size: 2rem;
        max-width: 60%;
        color: #FFFFFF;
    }

    .know-btn {
        position: relative;
        height: 40px;
        bottom: -20px;
        max-width: 30%;
    }

    .issue {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        margin-bottom: 8%;
        padding: 5%;
    }

    .issue h2 {
        width: 50%;
    }

    .story-container {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
    }

    .person-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
    }

    .person-1 .btn-black {
        position: relative;
        width: 25%;
        height: 40px;
        bottom: -20px;
    }

    .person-1 img {
        width: 100%;
    }

    .story {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        margin: 25px;
    }

    .story h2 {
        text-align: center;
    }

    .story p {
        text-align: center;
    }

    .event-container {
        background-color: #354463;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        text-align: center;
        color: white;
        padding: 0 10%;
    }

    .event-list-container {
        display: flex;
        flex-direction: column;
        background-color: #354463;
    }

    .event-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #event-img {
        width: 70%;
        height: 70%;
    }
    
    #event-img-2{
        width: 70%;
        height: 70%;
    }

    .event-img .btn-white {
        position: relative;
        width: 25%;
        bottom: -20px;
    }

    .event-img-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        padding: 20px;
    }

    .event-img-detail .btn-white {
        display: none;
    }

    .event-img-detail .btn-green {
        width: 25%;
        margin-bottom: 10%;
    }

    .event-img-detail p {
        font-size: 16px;
    }

    .subscribe-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #C1F7D5;
        padding: 5% 10%;
    }

    .input-div {
        background-color: #ffffff;
        border-radius: 50px;
        height: 40px;
        width: 60%;
    }

    .input-div input {
        border: none;
        outline: none;
        font-size: 11px;
        padding: 0px;
        width: inherit;
    }

    .subscribe-container .btn-black {
        border-radius: 100px;
        height: 40px;
        color: #C1F7D5;
        font-size: 14px;
        font-weight: bold;
        min-width: 30%;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 15vh 15vh 15vh;
        gap: 40px;
    }

    .footer h1 {
        margin-top: 40px;
        grid-column: 2;
        text-align: right;
    }

    .footer h5 {
        margin-bottom: 10px;
    }

    .footer-contact p {
        margin: 10px 0;
        text-decoration: underline;
        font-weight: lighter;
    }
}

/* Media Query for Tablet View*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .header {
        display: grid;
        grid-template-areas: "title btn"
            "page  btn";
        align-items: center;
        grid-template-columns: 2fr 1fr;
        padding: 2% 10% 2% 10%;
    }

    .title {
        grid-area: title;
        font-size: 22px;
    }

    .pages {
        grid-area: page;
        display: flex;
        justify-content: flex-start;
        column-gap: 40px;
        font-size: 16px;
        font-weight: lighter;
    }

    .pages p {
        padding: 0px;
    }

    .btn {
        grid-area: btn;
        place-self: center;
        width: 140px;
        height: 48px;
    }

    .stop-container {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 44px;
        background-image: url("../assets/assets/home/annie-spratt-135307-unsplash.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80%;
        font-family: Arial, sans-serif;
        min-height: 70vh;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 12%;
    }

    .stop-container>.title {
        width: 181px;
        height: 136px;
        color: #FFFFFF;
        font-size: 44px;
        padding-top: 5%;
    }

    .stop-content-container {
        position: relative;
        display: flex;
        text-align: left;
        flex-direction: column;
        align-items: left;
        background-color: #FFFFFF;
        padding-bottom: 4%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .stop-btn {
        position: relative;
        top: -20px;
        width: 160px;
        height: 40px;
        font-size: 14px;
    }

    .stop-content-container p {
        font-size: 28px;
        font-weight: bold;
    }

    .underline {
        text-decoration: underline;
        font-size: 16px;
    }

    .action-container p {
        font-size: 20px;
        font-weight: lighter;
    }

    .action-container .actions {
        font-weight: bold;
        width: 40%;
        padding: 25px;
        font-size: 20px;
    }

    .mission-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #354463;
        padding: 10%;
        justify-content: left;
    }

    .mission-btn {
        font-size: 14px;
    }

    .mission-do-container {
        color: white;
        text-align: left;
        margin-top: 5%;
        font-size: 22px;
        font-weight: bold;
        font-family: Helvetica;
    }

    .mission-list {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0 5% 0 5%;
        background-color: white;
        margin: 15% 0 0 0;
        height: 22%;
    }

    .mission-img {
        position: relative;
        width: 45%;
        max-width: 300px;
        height: auto;
    }

    .mission-img img {
        position: relative;
        top: -20px;
        width: 100%;
        height: 180px;
    }

    .mission-list h3 {
        position: relative;
        width: 50%;
        text-align: center;
        top: -40px;
    }

    .mission-list p {
        position: relative;
        top: -100px;
        text-align: center;
        width: 50%;
        font-family: Helvetica;
        color: #354463;
        order: 1;
    }

    .mission-btn-green {
        display: flex;
        justify-content: flex-end;
        position: relative;
        width: 45%;
    }

    .mission-btn-green .btn-green {
        position: relative;
        top: -40px;
        width: 30%;
    }

    .issue-heading {
        display: block;
        width: 30%;
    }

    .issue .issue-3 {
        width: 100px;
    }

    .btn-green{
        width: 70%;   
    }

    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .issue {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        margin-bottom: 8%;
        padding: 0px 9% 15px 9%;
    }

    #btn-black {
        padding: 15px;
        position: relative;
        bottom: -20px;
        left: -70px;
    }

    .issue-list {
        display: block;
        width: 60%;
    }

    .issue h2 {
        font-size: 40px;
    }

    .issue-container {
        background-image: url('../assets/assets/home/did-you-know-background.png');
        background-size: cover;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 5%;
    }

    .story-container {
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
    }

    #story-btn {
        margin-top: 30px;
    }

    .person-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .person-1 .btn-black {
        position: relative;
        width: 25%;
        height: 40px;
        bottom: -20px;
        left: 10%;
    }

    .person-1 img {
        width: 100%;
    }

    .story {
        position: relative;
        right: -8%;
        top: -40px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        width: 75%;
    }

    .story h2 {
        text-align: left;
    }

    .story p {
        text-align: left;
    }

    .event-container {
        background-color: #354463;
        height: 50%;
        padding-bottom: 4rem;
    }

    .event-container h1{
        color: #FFFFFF;
        padding-top: 50px;
        margin: 50px;
    }

    #event-img {
        width: 75%;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
    }
    .event-img-detail {
        width: 50%;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
    }

    #event-img-2 {
        width: 75%;
        display: flex;
        flex-direction: column-reverse;
        padding-left: 3rem;
    }

    .parent-container-1 {
        display: flex;
        margin-bottom: 5rem;
    }

    .parent-container-2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .event-img-detail h3{
        font-size: 40px;
    }

    .event-img-detail p {
        font-size: 20px;
        line-height: 30px;
    }

    #event-image-detail-2{
        position: relative;
        top: -20%;
    }

    #btn-white {
        width: 25%;
    }

    .subscribe-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #C1F7D5;
        padding: 5% 10%;
    }

    .subscribe-container h2 {
        width: 70%;
    }

    .input-div {
        width: 65%;
        background-color: #ffffff;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
    }

    .input-div input {
        border: none;
        outline: none;
    }

    .subscribe-container .btn-black {
        border-radius: 100px;
        height: 40px;
        padding: 4px;
        color: #C1F7D5;
        font-weight: bold;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 15vh 15vh;
        gap: 40px;
    }

    .footer h1 {
        margin-top: 40px;
    }

    .footer h2 {
        grid-row: 1/3;
    }

    .footer h5 {
        margin-bottom: 10px;
    }

    .footer-contact p {
        margin: 10px 0;
        text-decoration: underline;
        font-weight: lighter;
    }

    .footer-contact hr {
        display: none;
    }
}

/* Media Query for Desktop Devices */
@media only screen and (min-width: 769px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2% 10%;
        font-size: 20px;
    }

    .title {
        font-size: 30px;
    }

    .pages {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        font-weight: lighter;
        font-size: 16px;
    }

    .btn {
        width: 160px;
        height: 48px;
    }

    .stop-container {
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        font-size: 44px;
        background-image: url("../assets/assets/home/annie-spratt-135307-unsplash.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 80%;
        font-family: "Flood-std", Arial, sans-serif;
        min-height: 60vh;
        padding: 10% 10% 0% 10%;
    }

    .stop-container>.title {
        width: 181px;
        height: 136px;
        color: #FFFFFF;
        font-size: 60px;
    }

    .stop-content-container {
        position: relative;
        display: flex;
        text-align: left;
        flex-direction: column;
        align-items: left;
        background-color: #FFFFFF;
        padding-left: 5%;
        padding-right: 5%;
        width: 400px;
        height: 350px;
    }

    .stop-btn {
        position: relative;
        top: -20px;
        width: 160px;
        height: 40px;
        font-size: 14px;
    }

    .stop-content-container p {
        font-size: 33px;
        font-weight: bold;
    }

    .underline {
        text-decoration: underline;
        font-size: 16px;
    }

    .action-container p {
        font-size: 16px;
        font-weight: lighter;
    }

    .action-container .actions {
        font-weight: bold;
        width: 25%;
        font-size: 2rem;
    }

    .mission-list-flex {
        display: flex;
        column-gap: 20px;
    }

    .mission-container {
        display: flex;
        flex-wrap: wrap;
        background-color: #354463;
        padding: 10%;
        justify-content: center;
    }

    .mission-btn {
        font-size: 14px;
    }

    .mission-do-container {
        color: white;
        text-align: left;
        margin-top: 5%;
        font-size: 2rem;
        font-weight: bold;
        font-family: Helvetica;
    }

    .mission-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 5% 2% 5%;
        background-color: white;
        margin-top: 12%;
        margin-right: 25px;
    }

    .mission-img {
        position: relative;
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .mission-img img {
        position: relative;
        top: -30px;
        width: 148%;
        height: 300px;
        left: -30px;
    }

    .mission-list h3 {
        text-align: center;
        margin: 0;
        font-size: 26px;
    }

    .mission-list p {
        text-align: center;
        font-family: Helvetica;
        color: #354463;
        font-size: 16px;
    }

    .story-container {
        display: flex;
        flex-direction: row-reverse;
        padding: 0 10%;
        margin-top: 5%;
        align-items: center;
        justify-content: center;
    }

    .person-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }

    .person-1 .btn-black {
        position: relative;
        width: 25%;
        height: 40px;
        bottom: -20px;
        left: 10%;
    }

    .person-1 img {
        width: 100%;
    }

    .story {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        top: 4%;
        left: 4%;
        width: 40%;
    }

    .story h2 {
        text-align: left;
    }

    .story p {
        text-align: left;
    }

    .event-container {
        background-color: #354463;
        height: 50%;
        padding-bottom: 4rem;
    }

    .event-container h1{
        color: #FFFFFF;
        padding-top: 50px;
        margin: 50px;
    }

    #event-img {
        width: 75%;
        display: flex;
        flex-direction: column;
        padding-left: 3rem;
    }
    .event-img-detail {
        width: 50%;
        color: white;
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
    }

    #event-img-2 {
        width: 75%;
        display: flex;
        flex-direction: column-reverse;
        padding-left: 3rem;
    }

    .parent-container-1 {
        display: flex;
        margin-bottom: 5rem;
    }

    .parent-container-2 {
        display: flex;
        flex-direction: row-reverse;
    }

    .event-img-detail h3{
        font-size: 40px;
    }

    .event-img-detail p {
        font-size: 20px;
        line-height: 30px;
    }

    #event-image-detail-2{
        position: relative;
        top: -20%;
    }
    .subscribe-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #C1F7D5;
        padding: 5% 10%;
    }

    .subscribe-container h2 {
        width: 40%;
        font-size: 23px;
    }

    .input-div {
        width: 30%;
        background-color: #ffffff;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
    }

    .input-div input {
        border: none;
        outline: none;
    }

    .subscribe-container .btn-black {
        width: 20%;
        border-radius: 100px;
        height: 40px;
        padding: 4px;
        color: #C1F7D5;
        font-weight: bold;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 40px;
    }

    .footer-contact p {
        margin: 10px 0;
        text-decoration: underline;
        font-weight: lighter;
    }

    .footer-contact hr {
        display: none;
    }

    .issue-container {
        position: relative;
        display: flex;
        flex-direction: row;
        align-content: space-between;
        background-image: url("../assets/assets/home/did-you-know-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5% 10%;
        column-gap: 10%;
    }

    .issue-heading {
        position: relative;
        font-size: 44px;
        width: 30%;
        color: #FFFFFF;
    }

    .know-btn {
        position: relative;
        height: 40px;
        bottom: -20px;
        max-width: 30%;
    }

    .issue-list {
        width: 100%;
        margin-left: 5%;
    }

    .issue {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;
        margin-bottom: 5%;
        padding: 5%;
    }

    .issue h2 {
        width: 50%;
        font-size: 2rem;
    }

    .event-container {
        position: relative;
        background-color: #354463;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;
        color: white;
        padding: 5% 10%;
        margin-top: 10%;
        align-items: space;
    }

    .event-container h1 {
        width: 70%;
        text-align: left;
        font-size: 4rem;
    }

    .event-list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #354463;
    }

    .event-img {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .event-img-2 {
        align-items: end;
    }

    .event-img .btn-white {
        display: none;
        position: relative;
        width: 25%;
        bottom: -20px;
    }

    .event-img img {
        height: 312px;
        width: 350px;
    }

    .event-img-detail {
        position: relative;
        top: -15px;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        color: white;
        padding: 20px 85px;
    }

    .event-img-detail .btn-white {
        width: 30%
    }

    .event-img-detail .btn-green {
        width: 25%;
        margin-bottom: 10%;
    }

    .event-img-detail p {
        font-size: 16px;
    }

    .event-img-2 {
        order: 1;
    }
}